/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	height:100vh;
	background-image: linear-gradient(160deg, white 0%, lightgrey 100%);
	background-repeat: no-repeat;
	font-family: 'Balsamiq Sans', cursive;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Header */

.logo {
	height: 6rem;
	top: 1rem;
}

.mainHeading {
	margin: 1rem;
	font-size: 1.5rem;
	font-weight: 600;
}

.logoAndHeading {
	display: flex;
	flex-direction: row;
	align-items: center;
}

header {
	background-color: lightgrey;
	box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
	0 2px 4px rgba(0, 0, 0, 0.25);
	color: black;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-family: 'Roboto', sans-serif;
}

nav a {
	color: white;
	padding: 10px;
	text-decoration: none;
	font-size: 20px;
	margin-left: 3px;
	margin-right: 5px;
	border-radius: 5px;
	box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
	0 2px 4px rgba(0, 0, 0, 0.25);
	font-family: 'Roboto', sans-serif;
}

nav a:hover {
	color: black;
	background-color: white;
}

/* Add Item form */

.addItemForm {
	display: flex;
  flex-direction: column;
  box-shadow: 0 -1px 0 #ffffff, 0 0 4px rgba(0, 0, 0, 0.12),
  0 2px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  width: 60%;
  margin: auto;
  border-radius: 6px;
  background-color: white;
	margin-top: 50px;
	margin-bottom: 50px;
}

.addItemForm h2 {
	text-align: center;
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
}

.addNew-Input {
	padding: 5px;
}

.addNew-label {
  display: flex;
  margin-bottom: 16px;
  justify-content: space-between;
  color: black;
	font-family: 'Roboto', sans-serif;
}

/* items title */

.myItem-title {
	background-color: black;
	color: white;
	text-align: center;
	font-size: 30px;
	padding: 10px;
	font-family: 'Roboto', sans-serif;
}

.subTitle {
	background-color: #546f9c;
	font-size: 20px;
	padding: 5px;
	text-align: center;
	color: white;
	font-family: 'Roboto', sans-serif;
}

/* Item card */

.item-card {
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  width: 60%;
  margin: auto;
  margin-top: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  background-color: white;
	font-family: 'Open Sans', sans-serif;
}

.item-card h3 {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 6px;
  font-family: 'Roboto', sans-serif;
}

.item-card button {
  background-color: #f7594d;
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.item-card img {
  height: 200px;
  width: 300px;
  object-fit: cover;
  border-radius: 6px;
}

@media only screen and (max-width: 600px) {
  .item-card {
    display: flex;
    flex-direction: column;
  }
}

.home-top-section {
  /* background-color: lightgrey; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1481887328591-3e277f9473dc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1960&q=80');
  background-position: 10% 10%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 900px;
}

.title {
  color: white;
  font-size: 69px;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  padding-top: 12%;
  width: 50%;
  margin: auto;
}

#signup-link {
  color: white;
  font-size: 25px;
  text-decoration: none;
  background-color: rgb(17, 17, 17);
  border-radius: 40px;
  padding: 11px 35px;
  text-shadow: none;
}

#signup-link:hover {
  font-size: 29px;
  transition: 1s;
}

/* Home Bottom section */

.home-bottom-section {
  border-top: 1px solid lightgrey;
  padding: 50px;
  background-color: black;
  height: 50vh;
	color: white;
}

.about {
  margin: auto;
  height: 400px;
  background-color: black;
  display: flex;
  width: 50%;
}
.about h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  padding: 20px;
}
.about p {
  padding: 1px 20px;
  font-size: 24px;
	font-family: 'Noto Sans JP', sans-serif;
}